/*
    Yesha Ailani
    823351783
    CS545 Assignment #4
*/


input[type=number]{
    width: 90px;
} 

.header-text {
	color: #ffffff;
    padding-left: 1%;
    padding-top: 2%;
}

.header-name {
	color: #ffffff;
    text-decoration: none;
    text-align: center;
}

p.sign{
	color: white;
	text-decoration: underline;
	padding-left: 1%;
	padding-top: 2;
	text-align: center;
}

h1{
	
	color: white;
}

h5,h4{
	color: white;
}


h2{
	color: #ff9900;
	padding-left: 1%;
	padding-top: 2%;
}

div{
	background-color: #af1949;
	width: 100%;
	
}

.aboutImg {
	width:100%;
}

div.mainMenu{
	background-color: #af1949;
	width: 100%;
	margin-top: -3%;
	display: inline;
}

div.footer{
	background-color: #af1949;
	width: 100%;
	position: fixed;
 	right: 0;
  	bottom: 0;
  	left: 0;
 	height: 5%;
}

p.pFooter{
	margin-left: 40%
}

div.mainContainer{
	float: left;
	width: 60%;
	background-color: #af1949;
}

div.blankLeftContainer{
	width: 20%;
	background-color: #ffffff;
	float: left;
	height: 600px;
}

div.blankRightContainer{
	width: 20%;
	background-color: #ffffff;
	float: right;
	height: 600px;
}

.verticalLine {
  border-left: thick solid #ff0000;
}

img.logo{
	margin-left: 5%; 
	margin-bottom: 1%;
}
ul.menu {
    list-style-type: none;
    margin-left: 25%;
    padding: 0;
    overflow: hidden;
    background-color: #af1949;
	
}

ul.menu li {
    float: left;
}

ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-width: 1px;
    color: #66b3ff;
} 
ul.menu li a:hover {
    background-color: #66b3ff;
    color: #ffffff;
}

p{
	color: #ffffff;
}

p.innerText {
	color: #ffffff;
	padding-top: 2%;
	text-align: justify;
	padding-right: 2%;
	padding-left: 2%;
}

img.oldImg{
	width:100%;
	height: auto;
}
img.sImg{
	height: 109px;
    width: 150px;
	margin-left:10px;
}

.imgCell {
	width: 100%;
}

p.events {
	width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 21px;
	font-style: bold;
    margin-left: -23px;
    margin-bottom: -31px;
}

p.neigh2 {
	margin-left: -524px;
    width: 564px;
}

img.newImg{
	width:210px;
	height: auto;
	float: left;
    margin-left: 5px;
}

p.homeText{
	float: left;
	width: 20%;
	margin-right: 2%;
	
}

a {
    color: white;
    text-decoration: underline;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:underline; 
     cursor:pointer;  
}

div.mainData{
	margin-top: -3%;
}

span.footerLogos{
	float: right;
	margin-right: 35%
}

img.icon{
	height: 20px;
	width: auto;
}

p.specialText::first-letter{ 
    text-transform: capitalize;
	
    
}

p.specialText{ 
    padding-left: 2%; 
    margin-top: 5%; 
    margin-bottom: -3%;
    text-decoration: underline;
	text-align: center;
}

table{
	margin-left:auto; 
    margin-right:auto;
}

input[type=submit] {
    width: 100%;
    background-color: #66b3ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4d4dff;
}

input[type=checkbox] {
	color: white;
}

img.map{
	width:300%;
	height: auto;
	margin-left:80%;
	display: inline;
	margin-left: 161px;

}

div.contactText {
	color: #ffffff;
	text-align: center;
		
}

p.aboutUs{
	padding-left: 5%;
	text-align: justify;
	padding-right: 2%;
}

label.topright {
  position: absolute;
  top: 25px;
  right: 16px;
  font-size: 15px;
  color: white;
}

div.aboutUs::first-letter{ 
    text-transform: capitalize;
    font-size: 300%;
    padding-left: 2%;
    color: #66b3ff;
}


p.neigh{
	padding-left: 2%;
	text-align: justify;
	padding-right: 2%;
}


p.neighHead{
	margin-left: 40%;
	margin-right: auto;

}



img.abtImg{
	width: 30%;
	padding-left: 3%;
	padding-bottom: 5%;
}

.hidden{
	display: none;
}